.button-menu {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid gray;

  @include respond-to(sm) {
    border-top: unset;
  }

  @include respond-to(md) {
    height: 5rem;
  }

  .mobile-only {
    display: flex;
    width: 100%;

    @include respond-to(sm) {
      display: none;
    }

    .item-container {
      flex: 1;
      cursor: pointer;
      display: flex;
      background-color: lightgray;

      .menu-item {
        @include flex-center;

        height: 100%;
        width: 100%;
      }
    }

    .active-item {
      background-color: white;
    }
  }
}

/* Visibility utilities to keep DOM identical between SSR and client */
.desktop-only {
  display: none;
}

@include respond-to(sm) {
  .desktop-only {
    display: flex;
  }
}
