.button-menu {
  height: 4rem;
  display: flex;

  .item-container {
    flex: 1;
    cursor: pointer;
    display: flex;

    .menu-item {
      @include flex-center;

      height: 100%;
      width: 100%;
    }
  }

  .active-item {
    background-color: green;
  }
}
