.app-form {
  height: 700px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  form {
    height: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;
    min-height: 0; /* allows flex item to shrink below content size */
  }

  .file-upload-card {
    @include flex-center;
    min-height: 130px;
    height: 100%;

    @include respond-to(sm) {
      min-height: unset;
    }
  }

  .error {
    color: red;
    font-size: 0.875rem;
    padding-left: 0.25rem;
  }

  .required-tooltip {
    font-size: 0.65rem;
    padding-left: 0.25rem;
    margin-bottom: 0.5rem;
  }
}
