.application-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .card {
    cursor: pointer;
    border: 2px solid transparent;

    &.active {
      border: 2px solid transparent;
      background-color: lightgray;
    }
  }

  .application-card-company {
    min-width: 0;
    overflow: hidden;
  }
}
