.login-page {
  @include page-settings;
  @include flex-center;

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @include respond-to(sm) {
      border: 1px solid;
      padding: 1rem;
      border-radius: 0.25rem;
      max-width: 450px;
    }
  }
}
