* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-geist-sans);
  color: #222;
}

.radix-themes {
  background-color: #f8f9fa !important;
}

.radix-textfield {
  padding-bottom: 0px !important;
}
