.navbar {
	// background-color: rgba(255, 255, 255, 0.9);
	background-color: red;
	backdrop-filter: blur(8px);
	position: relative;
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.logo {
	font-size: 1.25rem;
	font-weight: bold;
}

.hamburger {
	font-size: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
}

.nav-links {
	width: 100%;
	background-color: red;
	position: absolute;
	left: 0;
	top: 3rem;
	list-style: none;
	display: none;
	flex-direction: column;
	margin-top: 1rem;
  border-top: 1px solid;

	&.open {
		display: flex;
	}

	li {
		padding: 1rem;
		border-bottom: 1px solid;
	}

	li a {
		text-decoration: none;
		color: #333;
		font-weight: 500;

		&:hover {
			color: #0070f3;
		}
	}
}
