.jobs-page {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;

  @include respond-to(lg) {
    padding: 2rem 0;
  }

  &.no-scroll {
    overflow: hidden;
  }

  .results-info {
    font-weight: 600;
    font-size: 0.75rem;
    text-align: end;
    min-width: 200px;
  }

  .add-button {
    position: fixed;
    right: 24px;
    bottom: 88px;
    width: 50px;
    height: 50px;

    @include respond-to(md) {
      right: 50px;
    }

    @include respond-to(xl) {
      position: fixed;
      bottom: 70px;
      right: 15%;
    }
  }

  .job-container {
    width: 100%;

    .jobs-flex-container {
      min-width: 0;
    }

    .jobs-list-wrapper {
      flex: 1;
      min-width: 0;

      @include respond-to(md) {
        flex: 1;
      }

      @include respond-to(lg) {
        flex: 2;
      }

      @include respond-to(xl) {
        flex: 3;
      }
    }

    .container-wrapper {
      height: calc(65vh + 1.5rem);
      padding: 0 0.5rem;

      @include respond-to(md) {
        padding: 0.75rem;
      }

      .application-card-container {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        row-gap: 0rem;
        overflow-y: auto;
        max-height: 100%;

        @include respond-to(sm) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .application-card-wrapper {
          width: 100%;

          @include respond-to(lg) {
            width: calc(50% - 0.125rem);
          }

          @include respond-to(xl) {
            width: calc(33.33% - 0.166rem);
          }
        }
      }
    }

    .application-preview-wrapper {
      @include respond-to(md) {
        flex: 1;
        min-width: 0;
      }
    }
  }
}
