.jobs-page {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }

  .sort-filter-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .jobs-sort-filter {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .sort-dropdown-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        .sort-dropdown {
          width: 60%;
        }
      }

      .status-dropdown-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        .status-dropdown {
          width: 60%;
        }
      }

      .keyword-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .keyword-input {
          width: 70%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        .page-size-input {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }

  .results-info {
    padding: 0.5rem;
    text-align: center;
  }

  .add-button {
    position: fixed;
    right: 24px;
    bottom: 88px;
    width: 50px;
    height: 50px;

    @include respond-to(md) {
      right: 50px;
    }

    @include respond-to(xl) {
      position: fixed;
      bottom: 70px;
      right: 15%;
    }
  }

  .job-container {
    width: 100%;

    .container-wrapper {
      height: calc(65vh + 1.5rem);

      @include respond-to(md) {
        flex: 1;
      }

      @include respond-to(lg) {
        flex: 2;
      }

      @include respond-to(xl) {
        flex: 3;
      }

      .application-card-container {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        row-gap: 0rem;
        overflow-y: auto;
        max-height: 100%;

        @include respond-to(sm) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .application-card-wrapper {
          width: 100%;

          @include respond-to(lg) {
            width: calc(50% - 0.125rem);
          }

          @include respond-to(xl) {
            width: calc(33.33% - 0.166rem);
          }

          // @include respond-to(xl) {
          // 	width: calc(25% - 0.375rem);
          // }
        }
      }
    }

    .application-preview-wrapper {
      @include respond-to(md) {
        flex: 1;
      }
    }
  }
}
