.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border: 1px solid;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
