.navbar {
  background-color: red;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;

  &.hidden {
    transform: translateY(-100%);
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1400px;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
}

.container-right {
  display: flex;
  align-items: center;
  gap: 1rem;

  @include respond-to(md) {
    a {
      text-decoration: none;
      color: #333;
      font-weight: 700;
      border: 1px solid black;
      padding: 0.15rem 0.25rem;
      border-radius: 0.25rem;
      cursor: pointer;
      background-color: aquamarine;
    }
  }
}

.user-logo {
  background-color: white;
}

.hamburger-button {
  @include flex-center;

  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  width: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  top: 3rem;
  list-style: none;
  display: none;
  flex-direction: column;
  margin-top: 1rem;
  border-top: 1px solid;

  &.open {
    display: flex;
  }

  button {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: red;
    font-weight: 500;
    line-height: 1.5rem;
  }

  li a {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid;
  }
}

.nav-links-desktop {
  list-style: none;
  display: flex;
  gap: 3rem;

  li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    font-weight: 700;
  }
}

.login-link {
  display: flex;
}
