.navbar {
  background-color: blue;
  color: white;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
  }

  &.hidden {
    transform: translateY(-100%);
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1400px;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
}

.container-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-logo {
  background-color: white;
}

.hamburger-button {
  @include flex-center;

  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  width: 100%;
  background-color: blue;
  position: absolute;
  left: 0;
  top: 3rem;
  list-style: none;
  display: none;
  flex-direction: column;
  margin-top: 1rem;
  border-top: 1px solid;

  &.open {
    display: flex;
  }

  &.closed {
    display: none;
  }

  button {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    font-weight: 500;
    line-height: 1.5rem;
  }

  li a {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-bottom: 1px solid;
    cursor: pointer;
  }
}

.nav-links-desktop {
  list-style: none;
  display: flex;
  gap: 3rem;

  li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
}

.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

.xs-only {
  display: block;
}
.sm-only {
  display: none;
}
.md-only {
  display: none;
}

@include respond-to(sm) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }

  .xs-only {
    display: none;
  }
  .sm-only {
    display: block;
  }
  .md-only {
    display: none;
  }
}

@include respond-to(md) {
  .sm-only {
    display: none;
  }
  .md-only {
    display: flex;
  }
}

.login-link {
  display: flex;
}
