.reminders-page {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  overflow-y: auto;

  .reminder-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include respond-to(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .reminder-card-wrapper {
      width: 100%;

      @include respond-to(md) {
        width: calc(50% - 0.25rem);
      }

      @include respond-to(lg) {
        width: calc(33.33% - 0.333rem);
      }

      @include respond-to(xl) {
        width: calc(25% - 0.375rem);
      }
    }
  }
}
