.dashboard-page {
  padding: 4rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  @include respond-to(md) {
    padding: 5rem 2rem;
  }

  .dashboard-content {
    height: 100%;
    width: 100%;
    max-width: 1400px;
  }
}
