.analytics-page {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  overflow-y: auto;

  .chart-selector {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
  }

  .timeframe-dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    & > * {
      max-width: 300px;
    }
  }

  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
}
